// Form section
// Maintanence-left section

.contact-us {
    padding: 80px 0;
}
.contact-us__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 32px;
    }

    .contact-us__left {
        flex-basis: 55%;
        max-width: 740px;
    }
    h4 {
        display: inline-block;
        margin-bottom: 8px;
    }
    .contact-us__title {
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 157%;
        letter-spacing: -0.01em;
    }
    .contact-us__text {
        margin-bottom: 40px;
    }

    .contacts__item {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
        .pin {
            background-size: contain;
            background-repeat: no-repeat;
            padding-left: 35px;
            background-image: url(../img/svg/pin.svg);
            background-position: left center;
        }
        .phone {
            background-image: url(../img/svg/clarity_phone2.svg);
        }
        .contacts__link {
            display: inline-block;
            padding-left: 40px;
            font-weight: 400;
            font-size: 13px;
            line-height: 173%;
            color: $color-dark-blue;
            background-size: 23px;
            background-repeat: no-repeat;

            @media (max-width: 576px) {
                background-position: left top;
                background-size: 18px;
            }
        }
    }
}

.header__phone {
    z-index: 10;
    margin-left: auto;
    height: 18px;
    display: flex;
    align-items: center;

    @media (max-width: 976px) {
        height: 23px;
    }
}

.contact-us__form {
    flex-basis: 42%;
    @media (max-width: 768px) {
        width: 100%;
    }

    @media (max-width: 1024px) {
        padding: 24px;
    }
    @media (max-width: 1200px) {
        flex-basis: 50%;
    }
}

// Right section form

.form {
    display: grid;
    column-gap: 12px;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 5px;
    padding: 56px;
    box-shadow: 1px 1px 12px 0 rgba(71, 71, 71, 0.06);
    row-gap: 15px;

    @media (max-width: 375.9px) {
        padding: 24px;
    }
}
.form__accent {
    grid-column: 2 span;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
    color: $color-dark-blue;
}

.form__btn {
    grid-column: 2 span;
    cursor: pointer;
}

.input {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 10px;
    width: 100%;

    &.just-validate-error-field {
        border: 1px solid #f2b91d;
    }

    &::placeholder {
        color: $color-grey;
    }
}

.input--message {
    min-width: 100%;
    min-height: 72px;
    max-width: 100%;
    max-height: 800px;
}

.form__label {
    grid-column: 2 span;
    width: 100%;

    &:nth-child(2) {
        grid-column: 1 span;
        @media (max-width: 576px) {
            grid-column: 2 span;
        }
    }
    &:nth-child(3) {
        grid-column: 1 span;
        @media (max-width: 576px) {
            grid-column: 2 span;
        }
    }

    .form__desc {
        display: inline-block;
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 14px;
        text-transform: capitalize;
        color: $color-second;
    }

    .form__desc {
        b {
            color: #f2b91d;
        }
    }
}
@media (max-width: 576px) {
    .form__accent {
        font-size: 18px;
    }
}
